@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f7fb;
    --foreground: #1c2436;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-legal-50 text-legal-950 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
